<!DOCTYPE html><html lang="zh-CN"><head><meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /><title>{$Think.config.web.httpheader.title}-{$Think.config.web.site.name}</title><meta name="applicable-device" content="pc,mobile" /><meta http-equiv="Cache-Control" content="no-transform" /><meta http-equiv="Cache-Control" content="no-siteapp" /><meta name="keywords" content="{$Think.config.web.httpheader.keywords}" /><meta name="description" content="{$Think.config.web.httpheader.description}" /><meta name="renderer" content="webkit" /><meta name="apple-mobile-web-app-capable" content="yes" /><link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon" />
<link href="/static/style/site.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style/tool-theme.css" rel="stylesheet" type="text/css"/><link href="/static/style/tool-upgrade.css?v=2026090301" rel="stylesheet" type="text/css"/><!--[if lt IE 9]><script src="//apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script><script src="//apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->{:$Think.config.web.header}{include file="seo" /}</head><body>{include file="header" /}
<div class="container"><div class="tool-wrap">
    <div class="tool-card">
        <h2 class="tool-title"><span class="t-ico"><i class="fa-solid fa-envelope-open-text" aria-hidden="true"></i></span>HTTP 请求头大全</h2>
        <p class="tool-desc">HTTP请求头对照表为您提供HTTP请求头,HTTP响应头在编写采集器,API接口,模拟登录http头,远程获取内容等是必须要考虑的内容,并附HTTP请求方法对照表大全。</p>
        <ul class="t-tabs" id="hhTabs">
            <li><button type="button" class="t-tab active" data-panel="hhPanel1"><i class="fa-solid fa-inbox" aria-hidden="true"></i> 请求头大全</button></li>
            <li><button type="button" class="t-tab" data-panel="hhPanel2"><i class="fa-solid fa-rocket" aria-hidden="true"></i> 请求方法大全</button></li>
        </ul>
        <div id="hhPanel1" class="t-panel active">
            <div style="overflow-x:auto">
                <table class="table table-bordered table-striped" style="margin:0">
                    <caption>HTTP Request Header 请求头</caption>
                    <thead><tr><th>Header</th><th>解释</th><th>示例</th></tr></thead>
                    <tbody>
<tr><td style="white-space:nowrap"><b>Accept</b></td><td>指定客户端能够接收的内容类型</td><td>Accept: text/plain, text/html</td></tr>
<tr><td style="white-space:nowrap"><b>Accept-Charset</b></td><td>浏览器可以接受的字符编码集。</td><td>Accept-Charset: iso-8859-5</td></tr>
<tr><td style="white-space:nowrap"><b>Accept-Encoding</b></td><td>指定浏览器可以支持的web服务器返回内容压缩编码类型。</td><td>Accept-Encoding: compress, gzip</td></tr>
<tr><td style="white-space:nowrap"><b>Accept-Language</b></td><td>浏览器可接受的语言</td><td>Accept-Language: en,zh</td></tr>
<tr><td style="white-space:nowrap"><b>Accept-Ranges</b></td><td>可以请求网页实体的一个或者多个子范围字段</td><td>Accept-Ranges: bytes</td></tr>
<tr><td style="white-space:nowrap"><b>Authorization</b></td><td>HTTP授权的授权证书</td><td>Authorization: Bearer &lt;token&gt;</td></tr>
<tr><td style="white-space:nowrap"><b>Cache-Control</b></td><td>指定请求和响应遵循的缓存机制</td><td>Cache-Control: no-cache</td></tr>
<tr><td style="white-space:nowrap"><b>Connection</b></td><td>表示是否需要持久连接。（HTTP 1.1默认进行持久连接）</td><td>Connection: close</td></tr>
<tr><td style="white-space:nowrap"><b>Cookie</b></td><td>HTTP请求发送时，会把保存在该请求域名下的所有cookie值一起发送给web服务器。</td><td>Cookie: $Version=1; Skin=new;</td></tr>
<tr><td style="white-space:nowrap"><b>Content-Length</b></td><td>请求的内容长度</td><td>Content-Length: 348</td></tr>
<tr><td style="white-space:nowrap"><b>Content-Type</b></td><td>请求的与实体对应的MIME信息</td><td>Content-Type: application/x-www-form-urlencoded</td></tr>
<tr><td style="white-space:nowrap"><b>Date</b></td><td>请求发送的日期和时间</td><td>Date: Tue, 15 Nov 2010 08:12:31 GMT</td></tr>
<tr><td style="white-space:nowrap"><b>Expect</b></td><td>请求的特定的服务器行为</td><td>Expect: 100-continue</td></tr>
<tr><td style="white-space:nowrap"><b>From</b></td><td>发出请求的用户的Email</td><td>From: user@jsons.cn</td></tr>
<tr><td style="white-space:nowrap"><b>Host</b></td><td>指定请求的服务器的域名和端口号</td><td>Host: www.jsons.cn</td></tr>
<tr><td style="white-space:nowrap"><b>If-Match</b></td><td>只有请求内容与实体相匹配才有效</td><td>If-Match: “特定值”</td></tr>
<tr><td style="white-space:nowrap"><b>If-Modified-Since</b></td><td>如果请求的部分在指定时间之后被修改则请求成功，未被修改则返回304代码</td><td>If-Modified-Since: Sat, 29 Oct 2010 19:43:31 GMT</td></tr>
<tr><td style="white-space:nowrap"><b>If-None-Match</b></td><td>如果内容未改变返回304代码，参数为服务器先前发送的Etag，与服务器回应的Etag比较判断是否改变</td><td>If-None-Match: “特定值”</td></tr>
<tr><td style="white-space:nowrap"><b>If-Range</b></td><td>如果实体未改变，服务器发送客户端丢失的部分，否则发送整个实体。参数也为Etag</td><td>If-Range: “特定值”</td></tr>
<tr><td style="white-space:nowrap"><b>If-Unmodified-Since</b></td><td>只在实体在指定时间之后未被修改才请求成功</td><td>If-Unmodified-Since: Sat, 29 Oct 2010 19:43:31 GMT</td></tr>
<tr><td style="white-space:nowrap"><b>Max-Forwards</b></td><td>限制信息通过代理和网关传送的时间</td><td>Max-Forwards: 10</td></tr>
<tr><td style="white-space:nowrap"><b>Pragma</b></td><td>用来包含实现特定的指令</td><td>Pragma: no-cache</td></tr>
<tr><td style="white-space:nowrap"><b>Proxy-Authorization</b></td><td>连接到代理的授权证书</td><td>Proxy-Authorization: Bearer &lt;token&gt;</td></tr>
<tr><td style="white-space:nowrap"><b>Range</b></td><td>只请求实体的一部分，指定范围</td><td>Range: bytes=500-999</td></tr>
<tr><td style="white-space:nowrap"><b>Referer</b></td><td>先前网页的地址，当前请求网页紧随其后,即来路</td><td>Referer: http://www.jsons.cn</td></tr>
<tr><td style="white-space:nowrap"><b>TE</b></td><td>客户端愿意接受的传输编码，并通知服务器接受接受尾加头信息</td><td>TE: trailers,deflate;q=0.5</td></tr>
<tr><td style="white-space:nowrap"><b>Upgrade</b></td><td>向服务器指定某种传输协议以便服务器进行转换（如果支持）</td><td>Upgrade: HTTP/2.0, SHTTP/1.3, IRC/6.9, RTA/x11</td></tr>
<tr><td style="white-space:nowrap"><b>User-Agent</b></td><td>User-Agent的内容包含发出请求的用户信息</td><td>User-Agent: Mozilla/5.0 (Linux; X11)</td></tr>
<tr><td style="white-space:nowrap"><b>Via</b></td><td>通知中间网关或代理服务器地址，通信协议</td><td>Via: 1.0 fred, 1.1 nowhere.com (Apache/1.1)</td></tr>
<tr><td style="white-space:nowrap"><b>Warning</b></td><td>关于消息实体的警告信息</td><td>Warning: 199 Miscellaneous warning</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="hhPanel2" class="t-panel">
            <div style="overflow-x:auto">
                <table class="table table-bordered table-striped" style="margin:0">
                    <caption>HTTP Request 请求方法</caption>
                    <thead><tr><th>方法</th><th>说明</th><th>适用场景</th></tr></thead>
                    <tbody>
<tr><td style="white-space:nowrap"><b>GET</b></td><td>请求指定的页面信息，并返回实体主体。</td><td>获取/查询资源，参数拼接在 URL 中，只读操作（浏览、搜索、分页）</td></tr>
<tr><td style="white-space:nowrap"><b>HEAD</b></td><td>类似于 GET 请求，只返回响应头、不返回响应体，用于获取报头</td><td>探测资源是否存在、大小、最后修改时间等元信息</td></tr>
<tr><td style="white-space:nowrap"><b>POST</b></td><td>向指定资源提交数据进行处理请求（例如提交表单或者上传文件）。数据被包含在请求体中。POST请求可能会导致新的资源的建立和/或已有资源的修改。</td><td>提交表单、上传文件、登录、创建新资源</td></tr>
<tr><td style="white-space:nowrap"><b>PUT</b></td><td>从客户端向服务器传送的数据取代指定的文档的内容。</td><td>整体更新/替换资源（幂等），上传文件到指定位置</td></tr>
<tr><td style="white-space:nowrap"><b>DELETE</b></td><td>请求服务器删除指定的页面。</td><td>删除资源（幂等）</td></tr>
<tr><td style="white-space:nowrap"><b>CONNECT</b></td><td>HTTP/1.1协议中预留给能够将连接改为管道方式的代理服务器。</td><td>建立代理隧道（如 HTTPS 经代理转发）</td></tr>
<tr><td style="white-space:nowrap"><b>OPTIONS</b></td><td>允许客户端查看服务器的性能。</td><td>探测服务器支持的请求方法、CORS 预检请求</td></tr>
<tr><td style="white-space:nowrap"><b>TRACE</b></td><td>回显服务器收到的请求，主要用于测试或诊断。</td><td>网络调试、追踪代理链路</td></tr>
<tr><td style="white-space:nowrap"><b>PATCH</b></td><td>实体中包含一个表，表中说明与该URI所表示的原内容的区别。</td><td>对资源做部分修改（局部更新）</td></tr>
<tr><td style="white-space:nowrap"><b>MOVE</b></td><td>请求服务器将指定的页面移至另一个网络地址。</td><td>WebDAV 移动文件/目录</td></tr>
<tr><td style="white-space:nowrap"><b>COPY</b></td><td>请求服务器将指定的页面拷贝至另一个网络地址。</td><td>WebDAV 复制文件/目录</td></tr>
<tr><td style="white-space:nowrap"><b>LINK</b></td><td>请求服务器建立链接关系。</td><td>WebDAV 建立资源链接</td></tr>
<tr><td style="white-space:nowrap"><b>UNLINK</b></td><td>断开链接关系。</td><td>WebDAV 解除资源链接</td></tr>
<tr><td style="white-space:nowrap"><b>WRAPPED</b></td><td>允许客户端发送经过封装的请求。</td><td>封装传输扩展协议</td></tr>
<tr><td style="white-space:nowrap"><b>Extension-method</b></td><td>在不改动协议的前提下，可增加另外的方法。</td><td>自定义扩展方法（如 WebDAV、私有接口）</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div></div>
{include file="nav" /}
{include file="footer" /}
<script src="/static/script/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="/static/script/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/script/toolbox.js"></script>
<script src="/static/script/tool-upgrade.js?v=2026090101" type="text/javascript"></script><script src="/static/script/app.js?v=2026083026" type="text/javascript"></script>
<script>
(function () {
    var tabs = document.querySelectorAll('#hhTabs .t-tab');
    tabs.forEach(function (btn) {
        btn.addEventListener('click', function () {
            tabs.forEach(function (b) { b.classList.remove('active'); });
            document.querySelectorAll('.tool-card .t-panel').forEach(function (p) { p.classList.remove('active'); });
            var panel = document.getElementById(btn.getAttribute('data-panel'));
            if (panel) panel.classList.add('active');
            btn.classList.add('active');
        });
    });
})();
</script>
<script src="/static/script/sample-data.js?v=2026083026" type="text/javascript"></script>
</body></html>
