<div class="copyright" id="footer">
    <div class="container">
        {if condition="$act == 'index'"}
        {include file="link" /}
        {/if}
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright ©2024-{$Think.now|date='Y'} <a href="/">{$Think.config.web.site.name}</a></span>
                <span class="copyright-sep">|</span>
                <a href="https://github.com/huanyu-a/toolbox" target="_blank" rel="noopener nofollow"><i class="fa-brands fa-github"></i> GitHub 开源</a><!-- | <span><a
                    href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">粤ICP备2021140346号</a></span>-->
                <span class="copyright-sep">|</span>
                <button type="button" class="fdata-btn" id="tbExportBtn" title="把收藏与足迹导出为 JSON 备份文件"><i class="fa-solid fa-download"></i> 导出数据</button>
                <span class="copyright-sep">|</span>
                <button type="button" class="fdata-btn" id="tbImportBtn" title="从备份文件导入收藏与足迹（合并去重）"><i class="fa-solid fa-upload"></i> 导入数据</button>
                <input type="file" id="tbImportFile" accept="application/json,.json" hidden>
            </div>
        </div>
    </div>
</div>
<a class="gotop" href="#top" title="返回顶部" style="display: none;"><i class="fa-solid fa-chevron-up"></i></a>