<div class="container foot-history" id="foot-history">
    <div class="row">
        <div class="col-md-12"><span>您的足迹：</span><span id="visit_history"></span></div>
    </div>
</div>
{if condition="$act != 'index'"}
<div class="container foot-nav-wrap">
    <div class="row">
        <div class="col-md-12 footer-nav">
            <h2>相关工具推荐</h2>
            <div class="list-inline-bg">
                <ul class="list-inline rand-tools">
                    {volist name="randTools" id="tool"}
                    <li><span></span><a href="{$tool.url}"{if condition="$tool.accent != ''"} style="color:{$tool.accent}"{/if}>{$tool.name}</a></li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
</div>
{/if}